.$Project flowchart 10-29-2025.drawio.bkp
~$Eyetalk Presentation 10-29-2025.pptx
.vscode/settings.json
__pycache__/
.venv
~$Project Presentation 2-14-2026 (1).pptx
.AI_Model/HeadMouseController/L2CS-Net-main
Documentation/Project Presentation Template 1.pptx
Documentation/Project Presentation Template 2.pptx
Documentation/Project Presentation Template 3.pptx
Documentation/Project Presentation Template 4.pptx
Documentation/Project Presentation Template 5.pptx
Documentation/Project Presentation Template 6.pptx
Documentation/Images - Videos/Project Second Video/EyeTalk ITC Comp - Video 2.mp4
Documentation/Images - Videos/Project Second Video/VID_20260529_194626.mp4
Documentation/Images - Videos/Project Second Video/VID_20260530_203911.mp4
